body {
    margin: 0;
    padding: 0;
    background-color: #444656;
}

h1 {
    color: violet;
}

p {
    color: #fff;
}

div {
    width: 400px;
    height: 300px;
    border: 2px dotted white;
    margin: 10px;
}

.boxes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.top {
    height: 250px;
}

.bottom {
    height: 350px;
}

div h1 {
    color: violet;
    width: 380px;
    height: 25px;
    border: 2px solid white;
    border-radius: 8px;
    margin-top: -20px;
}

div p {
    font-size: 10px;
    color: violet;
}

code {
    background-image: linear-gradient(rgba(232, 102, 236, 0.3) 0%, rgba(232, 102, 236, 0.6) 100%);
}

